<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.AppCasDetailMapper">

	<select id="getAppDetails" resultType="AppCasDetailVO">
		SELECT
		*
		FROM
		auth_app_cas_detail cd,
		auth_app app
		WHERE app.instid = cd.instid
		AND cd.id = app.id
		AND (
		APP.id = #{value}
		OR LOWER(cd.service) =
		LOWER(SUBSTRING(#{value},1,LENGTH(cd.service)))
		)
	</select>
</mapper>