<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.AppMapper">

	<sql id="baseColumns">
		a.id,
		a.app_name,
		a.login_url,
		a.category,
		a.secret,
		a.protocol
	</sql>

	<select id="queryMyApps" parameterType="UserApps" resultType="UserApps">
		SELECT DISTINCT
		app.*
		FROM
		auth_app app,auth_role_permission p,auth_role r
		WHERE
		app.id = p.appid
		AND p.roleid = r.id
		AND
		app.instid = #{instId}
		AND p.instid = #{instId}
		AND r.instid = #{instId}
		AND app.visible != 0
		AND r.id in
		(
		<!-- ROLE_ALL_USER -->
		SELECT id as roleid
		FROM auth_role
		WHERE rolecode = 'ROLE_ALL_USER'
		UNION
		<!-- role member -->
		SELECT
		rm.roleid
		FROM
		auth_role_member rm,auth_user u
		WHERE rm.memberid = u.id
		<if test="userId != null and userId != ''">
			AND u.id = #{userId}
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
		)
		<if test="appName != null and appName != ''">
			AND app_name = #{appName}
		</if>
		ORDER BY sort_index ASC
	</select>
</mapper>