<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.ConnectorMapper">

	<sql id="baseColumns">
		a.id,
		a.conn_name,
		a.just_in_time,
		a.scheduler,
		a.provider_url,
		a.principal,
		a.credentials,
		a.filters,
		a.remark,
		a.app_id,
		a.app_name,
		a.inst_id,
		a.status,
		a.create_user,
		a.create_time,
		a.update_user,
		a.update_time,
		a.deleted
	</sql>

</mapper>