<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wy.test.persistence.mapper.FileUploadMapper">

	<resultMap id="fileUploadMap" type="com.wy.test.core.entity.FileUploadEntity">
		<result property="id" column="id" />
		<result property="fileName" column="file_name" />
	</resultMap>

	<sql id="baseColumns">
		a.id,
		a.file_name
	</sql>

</mapper>