<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.PasswordPolicyMapper">

	<sql id="baseColumns">
		a.id,
		a.min_length,
		a.max_length,
		a.lower_case,
		a.upper_case,
		a.digits,
		a.special_char,
		a.attempts,
		a.duration,
		a.expiration,
		a.username,
		a.history,
		a.dictionary,
		a.alphabetical,
		a.numerical,
		a.qwerty,
		a.occurances,
		a.create_user,
		a.create_time,
		a.update_user,
		a.update_time,
		a.deleted
	</sql>

</mapper>