<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.RolePermissionMapper">

	<sql id="baseColumns">
		a.id,
		a.role_id,
		a.app_id,
		a.inst_id,
		a.create_user,
		a.create_time,
		a.update_user,
		a.update_time,
		a.deleted
	</sql>

	<sql id="where_contition">
		<if test="id != null and id != ''">
			and apps.id = #{id}
		</if>
		<if test="appName != null and appName != ''">
			and apps.appname like '%${appName}%'
		</if>
		<if test="protocol != null and protocol != ''">
			and apps.protocol = #{protocol}
		</if>
		<if test="category != null and category != ''">
			and apps.category = #{category}
		</if>
	</sql>

	<!-- AppGroup -->
	<select id="appsInRole" resultType="com.wy.test.core.vo.RolePermissionVO">
		select
		p.id,
		p.roleid,
		r.rolename,
		apps.id appid,
		apps.appname,
		apps.icon,
		apps.loginurl,
		apps.protocol,
		apps.category,
		apps.description,
		apps.vendor,
		apps.vendorurl
		from
		auth_app apps,
		auth_role_permission p,
		auth_role r
		where
		apps.instid =
		#{instId}
		and p.instid = #{instId}
		and r.instid = #{instId}
		and p.appid = apps.id
		and p.roleid = r.id
		<if test="roleId != null and roleId != ''">
			and p.roleid = #{roleId}
			and r.id = #{roleId}
		</if>
		<include refid="where_contition" />
	</select>

	<select id="appsNotInRole" resultType="com.wy.test.core.vo.RolePermissionVO">
		select
		*
		from
		auth_app apps
		where
		1 = 1
		and apps.id not in(
		select
		appid
		from
		auth_role_permission
		where
		roleid = #{roleId}
		)
		<include refid="where_contition" />
	</select>
</mapper>