<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.test.persistence.mapper.SyncMapper">

	<sql id="where_contition">
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name like '%${name}%'
		</if>
	</sql>

	<select id="queryPageResults" resultType="SyncVO">
		select
		*
		from
		auth_sync
		where
		instid = #{instId}
		<include refid="where_contition" />
	</select>
</mapper>